
html , 
body {
    font-family: $primary-font;
}

a {
    text-decoration: none !important;
}

.text-dark-gray {
    color: $secondary;
}

.reset-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}