.navbar {
    ul {
        li {
            &:not(:last-child) {
                margin-right: 1.3rem;
            }
            a {
                display: flex;
                padding: .8rem .3rem;
                color: $secondary;
                &:hover {
                    color: $black;
                }
            }
        }
    }
    
}